@model IEnumerable<ControlMarcaje.Models.Marcaje>


@{
    ViewBag.Title = "Control de marcajes";
}

<br />

<h2 class="text-center text-capitalize">@Html.DisplayFor(model => model.FirstOrDefault().Empleado1.nombre_completo)</h2>

<br />

<div class="row">
    <div class="col-lg-12">
        <input type="hidden" value="@Html.DisplayFor(model => model.FirstOrDefault().empleado)" name="id" />
        <a class="btn btn-info" href="@Url.Action("Details/" + @Html.DisplayFor(model => model.FirstOrDefault().empleado), "Empleados")">
            Ver detalles
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-3">
        <div class="card text-center">
            <img src="http://chittagongit.com//images/entrance-icon-png/entrance-icon-png-24.jpg" class="card-img-top" alt="Entrada">
            <div class="card-body text-center">
                <h5 class="card-title">Entrada</h5>
                @using (Html.BeginForm("Create", "Marcajes"))
                {
                    <input type="hidden" value="@Html.DisplayFor(model => model.FirstOrDefault().empleado.Value)" name="num_empleado" />
                    <input type="hidden" value="hora_entrada" name="accion" />
                    <input type="submit" value="Marcar" class="btn btn-primary" />
                }
                <p class="card-text">@Html.DisplayFor(model => model.FirstOrDefault().hora_entrada)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <img src="http://chittagongit.com//images/lunch-icon-png/lunch-icon-png-29.jpg" class="card-img-top" alt="Entrada" style="width:200px; text-align:center">
            <div class="card-body text-center">
                <h5 class="card-title">Entrada almuerzo</h5>
                @using (Html.BeginForm("Create", "Marcajes"))
                {
                    <input type="hidden" value="@Html.DisplayFor(model => model.FirstOrDefault().empleado.Value)" name="num_empleado" />
                    <input type="hidden" value="hora_entrada_almuerzo" name="accion" />
                    <input type="submit" value="Marcar" class="btn btn-primary" />
                }
                <p class="card-text">@Html.DisplayFor(model => model.FirstOrDefault().hora_entrada_almuerzo)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <img src="http://chittagongit.com//images/lunch-icon-png/lunch-icon-png-29.jpg" class="card-img-top" alt="Entrada" style="width:200px; text-align:center">
            <div class="card-body text-center">
                <h5 class="card-title">Salida almuerzo</h5>
                @using (Html.BeginForm("Create", "Marcajes"))
                {
                    <input type="hidden" value="@Html.DisplayFor(model => model.FirstOrDefault().empleado.Value)" name="num_empleado" />
                    <input type="hidden" value="hora_salida_almuerzo" name="accion" />
                    <input type="submit" value="Marcar" class="btn btn-primary" />
                }
                <p class="card-text">@Html.DisplayFor(model => model.FirstOrDefault().hora_salida_almuerzo)</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <img src="http://chittagongit.com//images/icon-exit/icon-exit-24.jpg" class="card-img-top" alt="Entrada">
            <div class="card-body text-center">
                <h5 class="card-title">Salida</h5>
                @using (Html.BeginForm("Create", "Marcajes"))
                {
                    <input type="hidden" value="@Html.DisplayFor(model => model.FirstOrDefault().empleado.Value)" name="num_empleado" />
                    <input type="hidden" value="hora_salida" name="accion" />
                    <input type="submit" value="Marcar" class="btn btn-primary" />
                }
                <p class="card-text">@Html.DisplayFor(model => model.FirstOrDefault().hora_salida)</p>
            </div>
        </div>
    </div>
</div>
