@model ControlMarcaje.Models.Empleado

@{
    ViewBag.Title = "Control de marcajes";
}

<h2>Detalle de empleados</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b class="control-label col-md-2">Número de empleado:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_empleado)
        </dd>

        <dt>
            <b class="control-label col-md-2">Nombre completo:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_completo)
        </dd>

        <dt>
            <b class="control-label col-md-2">Teléfono:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            <b class="control-label col-md-2">Dirección:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            <b class="control-label col-md-2">Activo:</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.num_empleado }) |
    @Html.ActionLink("Volver", "Index")
</p>
